h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #3a3838;
}

h1,
h2,
h3 {
  color: #10718a;
}

h1 {
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 18px;
}

/* footer p { */
/* font-size: 15px; */
/* } */

/* section header p { */
/* font-style: italic; */
/* } */

#author {
  font-style: italic;
  font-size: 18px;
}

#cright {
  font-weight: bold;
  font-size: 15px;
}
.rat {
  font-size: 18px;
  font-weight: bold;
}

/* aside ul { */
/* list-style: none; */
/* } */

.rat-list {
  list-style: none;
}

.mainh,
aside {
  background-color: #918d8d;
}

aside {
  border-top: 5px solid #10718a;
  border-bottom: 5px solid #10718a;
}

/* .bing { */
/* font-weight: bold; */
/* } */

li:first-child {
  color: purple;
}

li:last-child {
  color: palevioletred;
}

li:nth-child(2) {
  color: greenyellow;
}

li:nth-child(even) {
  font-style: italic;
}

li:nth-child(odd) {
  font-weight: bold;
}
